[buildout]
index = http://packages.lizardsystem.nl
extends =
    http://packages.lizardsystem.nl/kgs/latest.cfg
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
#         local_checkouts/lizard-maptree
#         local_checkouts/lizard-map
#         local_checkouts/some_trunk_external
eggs =
    lizard-wms


[versions]
# Specific pins
lizard-wms =
lizard-map = 3.31
lizard-maptree = 0.3
lizard-ui = 3.15
django = 1.3.1
Django = 1.3.1

[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
    PIL
    matplotlib
    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_wms
projectegg = lizard_wms
settings = testsettings
test = lizard_wms
eggs = lizard-wms


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
